// Paleta de Cores
$primary-blue: #3442b5;
$secondary-blue: #3019b2;
$accent-yellow: #f7ca11;
$dark-purple: #271c47;
$text-gray: #9f9f9f;
$dark-gray: #3f3f40;
$dark-gray-showcase: #3b3b3b;
$pure-white: #ffffff;
$light-gray: #f0f0f0;
$box-gray: #f4f4f4;
$old-price-gray: #808080;
$off-white: #f6f5f2;
$border-color: #bdbdbd;
$header-box-shadow: hsla(46, 50%, 15%, 0.12);
$box-shadow: hsla(0, 0%, 0%, 0.13);
$box-shadow-22: hsla(0, 0%, 0%, 0.22);
$blackOpacity: hsla(0, 0%, 0%, 0.8);
$dark-liver: #4e4e4e;
$border-input: #e7e7e7;
$border-increase-decrease: #d9d9d9;
$border-color-checkbox: #8c342b;
$divisor-footer-color: rgba(40, 40, 40, 0.18);
$list-footer-color: rgba(34, 34, 34, 0.71);

// Tipografia
$font-family: "Poppins", sans-serif;
$font-family-outfit: "Outfit", sans-serif;
$font-family-work-sans: "Work Sans", sans-serif;

// Tamanhos de Fonte
$font-size-mobile: 8px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-sm: 12px;
$font-size-md1: 13px;
$font-size-md: 14px;
$font-size-mdg: 15px;
$font-size-g: 16px;
$font-size-gg: 20px;
$font-size-xgg: 30px;
$font-size-xlg: 32px;
$font-size-lg: 40px;
$font-size-xxlg: 48px;
// Pesos de Fonte
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$breakpoints: (
  "lg": 1024px,
  "md": 768px,
  "sm": 480px,
);

@mixin respond-to($size) {
  $width: map-get($breakpoints, $size);
  @if $width {
    @media (min-width: $width) {
      @content;
    }
  }
}
