@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family;
  color: variables.$text-gray;
  background-color: variables.$pure-white;
  max-width: 1440px;
  margin: auto;
}
input {
  font-family: variables.$font-family;
  font-size: variables.$font-size-md;
  font-weight: variables.$font-weight-medium;
  color: variables.$text-gray;
}

ul {
  list-style: none;
  li {
    a,
    svg path {
      transition: all 300ms ease-in-out;
    }
  }
}
button {
  all: unset; /* Remove todos os estilos padrão do botão */
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
