// Paleta de Cores
$primary-blue: #3442B5;
$secondary-blue: #3019B2;
$accent-yellow: #F7CA11;
$dark-purple: #271C47;
$text-gray: #9F9F9F;
$dark-gray: #3F3F40;
$pure-white: #FFFFFF;
$light-gray: #F0F0F0;
$off-white: #F6F5F2;
$header-box-shadow: hsla(46, 50%, 15%, 0.12);
$blackOpacity: hsla(0, 0%, 0%, 0.80);

// Tipografia
$font-family: 'Poppins', sans-serif;

// Tamanhos de Fonte
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-g: 16px;
$font-size-xlg: 32px;
$font-size-xxlg: 48px;
// Pesos de Fonte
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$font-weight-bold: 700;
