// styles.module.scss
@use "../../styles/variables.scss";

.categoryItemContainer {
  max-width: max-content;
  width: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  &:hover svg path {
    transition: all 300ms ease-in-out;
    fill: variables.$secondary-blue;
  }
  &:hover p {
    transition: all 300ms ease-in-out;
    color: variables.$secondary-blue;
    font-weight: variables.$font-weight-semi-bold;
  }
  p {
    font-size: variables.$font-size-md;
    font-weight: variables.$font-weight-medium;
  }
}

.svgContainer {
  padding: 34px 34px 33px 33px;
  background-color: variables.$box-gray;
  width: max-content;
  border-radius: 10px;
  box-shadow: 0px 4px 11px 0px variables.$box-shadow;
  &:hover {
    transition: all 300ms ease-in-out;
    background-color: variables.$pure-white;
  }

  @media (max-width: 768px) {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    svg {
      width: 40px;
      height: auto;
    }
  }
}

.selected {
  background-color: variables.$pure-white;
  svg path {
    transition: all 300ms ease-in-out;
    fill: variables.$secondary-blue;
  }
}

.selectedText {
  color: variables.$secondary-blue;
  font-weight: variables.$font-weight-semi-bold !important;

  @media (max-width: 768px) {
    font-size: variables.$font-size-md;
  }
}
